.dialog1 {
  background-color: cadetblue;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: none;
  text-align: center;
}
.close-button {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background-color: cadetblue;
}
